params {
    input  = null
    model  = 'hac'
    outdir = 'results'
}

process {
    withName: 'DORADO_BASECALL' {
        cpus   = 4
        memory = '16 GB'
        time   = '24h'
    }
}

profiles {
    gpu {
        process {
            withName: 'DORADO_BASECALL' {
                accelerator      = 1
                containerOptions = '--gpus all'
            }
        }
    }

    docker {
        docker.enabled = true
        process {
            withName: 'DORADO_BASECALL' {
                container = 'ontresearch/dorado:latest'
            }
        }
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        process {
            withName: 'DORADO_BASECALL' {
                container = 'docker://ontresearch/dorado:latest'
            }
        }
    }

    slurm {
        process {
            executor       = 'slurm'
            queue          = 'gpu'
            clusterOptions = '--gres=gpu:1'
            withName: 'DORADO_BASECALL' {
                cpus   = 8
                memory = '32 GB'
                time   = '48h'
            }
        }
    }
}

report   { enabled = true; file = "${params.outdir}/pipeline_info/execution_report.html" }
timeline { enabled = true; file = "${params.outdir}/pipeline_info/execution_timeline.html" }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/execution_trace.txt" }
